<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('partials/head.ejs');%>
  </head>
  <body>

    <div>
      <%- include('partials/nav.ejs');  %>
    </div>


    <div class="row">


     <!-- #outline-container
          -holds everything on the right left side of the page
            dealing with the outlines from different classes to opening the actual outline
          -holds both states 1 and 2
    -->
     <div id="outline-container" class="col m8 grey lighten-4" data-intro="This holds all of your outlines" data-step="2">

      <div id="outline-holder-view-opener">
         <%- include('partials/outline-view-1'); %>
      </div>



      <div id="open-outline-view-container">
          <%- include('partials/outline-view-2'); %>
      </div>

      <div id="outline-view-progess-bar" class="center">
        <h6>Loading Your Outline</h6>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>


     </div>


     <!-- #idea-space-container-col
          - holds everyting to do with state 1 of idea spaces
          - default is visible

     -->
     <div id="idea-space-container-col" class="col m4" data-intro="This holds all your Idea Spaces" data-step="3">
       <%- include('partials/idea-space-view-1'); %>
     </div>


     <!-- #idea-space-opener-container-col
          - holds everyting to do with state 2 of idea spaces
          - default is not visible and slides in when a user chooses an idea space

          Data:
            Name of Idea Space: grap from database based on the button that was clicked to open up this idea space
            #wrapper-collapsible-filters: fill the filter with all appropriate data (example: the names of everyone that contributed to idea space so you can filter by them)
     -->
     <div id="idea-space-opener-container-col" class="col m4 white">
       <%- include('partials/idea-space-view-2'); %>
     </div>


   </div>


    <%- include('partials/footer'); %>

    <%- include('partials/context-menu.ejs'); %>

    <!-- Custtom Js Script -->
    <script type="text/javascript" src="/javascripts/GlobalVars.js"></script>
    <script type="text/javascript" src="/javascripts/functions.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <!-- Socket.io -->
    <script src='/socket.io/socket.io.js' type='text/javascript'></script>
    <script type="text/javascript" src="/javascripts/SocketClient.js"></script>

  </body>
</html>
