<div id="idea-space-opener-container">
  <div class="row">
     <div class="col m9 offset-m1">
       <!--"Name of Idea Space" dynamically filled-->
       <h6>Name Of Idea Space</h6>
     </div>
     <div class="col m2">
       <div id="btn-return-to-idea-spaces">
         <i class="material-icons">arrow_forward</i>
       </div>
     </div>
  </div>
  <div clas="row">
    <div class="col m12 center-align">
      <a id="btn-filter-annotations" class="waves-effect waves-light btn"><i class="material-icons left">filter_list</i>Annotation Filters</a>
    </div>

  </div>
    <div id="annotation-filter-options-container" class="row">
      <div class="col m12">
        <!-- #wrapper-collapsible-filters
             dynamically filled by query to databased to get :
               - (Annotated By): everyone who contributed to idea space
               - (By Class): get all classes that annotations come from
               - (By Document): get all documents that annotations come from
               - (By Tags): get all tags that annotations come from
               - (By Date Created): no action needed

        -->
        <div id="wrapper-collapsible-filters">
          <div id="list-collapsible-filters">
            <ul class="collapsible expandable">
             <li>
               <div class="collapsible-header"><i class="material-icons">format_quote</i>Annotated By</div>
               <div class="collapsible-body filter-collapsible-body">
                 <div class="filter-options-collapsible-body">
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>John Boy</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Sam Smith</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Fredrick Douglas</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>James Brown</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Lebron James</span>
                   </label>
                 </p>
                 </div>
               </div>
             </li>
             <li>
               <div class="collapsible-header"><i class="material-icons">class</i>By Class</div>
               <div class="collapsible-body filter-collapsible-body">
                 <div class="filter-options-collapsible-body">
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>John Boy</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Sam Smith</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Fredrick Douglas</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>James Brown</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Lebron James</span>
                   </label>
                 </p>
                 </div>
               </div>
             </li>
             <li>
               <div class="collapsible-header"><i class="material-icons">assignment</i>By Document</div>
               <div class="collapsible-body filter-collapsible-body">
                 <div class="filter-options-collapsible-body">
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>John Boy</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Sam Smith</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Fredrick Douglas</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>James Brown</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Lebron James</span>
                   </label>
                 </p>
                 </div>
               </div>
             </li>
             <li>
               <div class="collapsible-header"><i class="material-icons">bookmark</i>By Tags</div>
               <div class="collapsible-body filter-collapsible-body">
                 <div class="filter-options-collapsible-body">
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>John Boy</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Sam Smith</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Fredrick Douglas</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>James Brown</span>
                   </label>
                 </p>
                 <p class="filtering-options-container">
                   <label>
                     <input type="checkbox" />
                     <span>Lebron James</span>
                   </label>
                 </p>
                 </div>
               </div>
             </li>
             <li>
               <div class="collapsible-header"><i class="material-icons">event</i>By Date Created</div>
               <div class="collapsible-body filter-collapsible-body">
                 <div class="filter-options-collapsible-body">
                 <div class="row">
                   <div class="col m6">
                     <input id="input-start-date" type="text" class="datepicker">
                     <label for="input-start-date">Start Date</label>
                   </div>
                   <div class="col m6">
                     <input id="input-end-date" type="text" class="datepicker">
                     <label for="input-end-date">End Date</label>
                   </div>
                 </div>
                 </div>
               </div>
             </li>
             </ul>
             <div id="btn-update-filters-container" class="col m6 left">
               <!-- #btn-update-filters
                    - when clicked it will look at the options inside of filters and creates a query that queries the database
                      and updates annotaitons appropriately
               -->
               <a id="btn-update-filters" class="waves-effect waves-light btn"><i class="material-icons left">sync</i>Update</a>
             </div>
        </div>
      </div>
    </div>
  </div>
  <div id="annotation-results-information-section">
    <div id="annotation-results-container" class="row">
      <div class="col m12 center-align grey-text darken-2">

        <!-- #annotation-results-info
             - dynamically created by looking at how many annotations fit the specifications of the query from the database
        -->
        <p id="annotation-results-info">Viewing 126 annotations from 3 documents, grouped by tag</p>

      </div>
    </div>

    <!-- #pagination-container
         - holds pagination tools to go through query once all the data is gathered pagination will happen on client side
    -->
    <div id="pagination-container">
      <div class="row">
        <div class="col m12 center-align">
          <ul id="annotation-results-ul" class="pagination">
             <li id="chevron-left-pagination" class="disabled"><a href="#!"><i class="material-icons filter-pagination-icon">chevron_left</i></a></li>
             <li id="filter-pagination-1" class="active"><a class="filter-pagination-element" href="#!">1</a></li>
             <li id="filter-pagination-2" class=""><a class="filter-pagination-element" href="#!">2</a></li>
             <li id="filter-pagination-3" class=""><a class="filter-pagination-element" href="#!">3</a></li>
             <li id="filter-pagination-4" class=""><a class="filter-pagination-element" href="#!">4</a></li>
             <li id="filter-pagination-5" class=""><a class="filter-pagination-element" href="#!">5</a></li>
             <li id="filter-pagination-6" class=""><a class="filter-pagination-element" href="#!">6</a></li>
             <li id="filter-pagination-7" class=""><a class="filter-pagination-element" href="#!">7</a></li>
             <li id="chevron-right-pagination" class=""><a class="filter-pagination-element" href="#!"><i class="material-icons filter-pagination-icon">chevron_right</i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="carousel carousel-slider">
      <div class="carousel-item" href="#one!">
        <div class="container-for-all-annotation-cards" style="margin-top: 30px !important;">
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
        </div>
      </div>
      <div class="carousel-item" href="#two!">
        <div class="container-for-all-annotation-cards" style="margin-top: 30px !important;">
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
        </div>
      </div>
      <div class="carousel-item" href="#three!">
        <div class="container-for-all-annotation-cards" style="margin-top: 30px !important;">
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
        </div>
      </div>
      <div class="carousel-item" href="#four!">
        <div class="container-for-all-annotation-cards" style="margin-top: 30px !important;">
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
          <%- include('annotation-card.ejs'); %>
        </div>
      </div>
    </div>

  </div>
</div>
